<nav class="nav navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                </button>
                <a class="navbar-brand" href="#">後台</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a  href="index">新增活動</a></li>
                    <li><a  href="sign_list">活動列表</a></li>
                    <li><a  href="people">新增人員</a></li>
                </ul>
            </div>
        </div>
    </nav>

    